@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #E6E7E4;
  --color2: #7C90AD;
  --color3: #435B7B;
  --color4: #1C263D;
  --color5: #0D1B2B;

  --text-color1: #0D1B2B;
  --text-color2: #E6E7E4;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;

  color: var(--text-color1);
}

html {
  background-color: var(--color5);
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
